%h1.text-3xl.mb-4= @play.title
- @play.scenes.each do |scene|
  .card.mb-4
    .card-body
      %h2.block.text-xl= scene.name
      .default-flex-row
        = link_to 'READONLY', scene_path(scene), class: 'btn btn-outline-primary py-2'
        %div
          - scene.characters.each do |char|
            = link_to scene_path(scene, character_id: char.id), class: 'btn btn-outline-primary ml-2' do
              .flex.align-items-center
                .inline-block= character_photo(char)
                .ml-2= char.name
            -# .inline-block.mr-4= link_to char.name, scene_path(scene, character_id: char.id)
