= link_to @scene.play.title, play_path(@scene.play)
%h1.text-2xl.mb-4= @scene.name
= render partial: 'characters/picker', locals: { scene: @scene, selected_char: @selected_char }

%div(data-controller="scene"
     data-scene-selected-char-id-value="#{@selected_char&.id}"
     data-scene-line-ids-value="#{@scene.lines.ids}"
     data-scene-start-line-value="#{params.dig('start_line_idx') || 0}")
  - @scene.lines.each_with_index do |line, idx|
    - if line.character == @selected_char
      %div{ class: "hidden my-line",
            data: { 'scene-target': 'line', 'line-id': line.id, 'line-char-id': line.character.id }}
        .card.bg-teal-100.mb-2{line_data_attrs(line, @selected_char)}
          .card-body.flex.flex-col
            .default-flex-row
              .font-bold #{line.character.name}:
              %div(data-controller="clipboard")
                %button(class="btn btn-outline-primary ml-2" data-action="clipboard#copy")
                  = fa_icon 'link'
                .hidden.absolute.inline-block.badge.badge-primary.ml-2.mt-2(data-target="clipboard.notifier") Copied!
                .sr-only(data-target="clipboard.text")
                  = scene_url(@scene, params: { character_id: @selected_char&.id, start_line_idx: idx })
              %button.sr-only(data-line-target="skipBtn" data-action="scene#revealUntilMyLine")
            - line.segments.each do |segment|
              - chunk_1, chunk_2, chunk_3 = *random_chunks(segment)
              .pb-1(data-controller="hidden-words"
                    data-hidden-words-text-value="#{chunk_2}")
                .inline-block= chunk_1
                .inline-block(data-hidden-words-target="wrapper")
                  - if chunk_2.present?
                    %textarea.hidden-words.border.rounded.inline-block{
                      rows: 1,
                      cols: chunk_2.size,
                      autocomplete: 'false',
                      'data-action': "keyup->hidden-words#parseInput",
                      'data-hidden-words-target': "input" }
                    %span.hint-indicator(tabindex=0)
                      â“
                      %div.hint-text= chunk_2
                .inline-block= chunk_3
            %button.border-1(data-action="line#jumpToNextLine") Skip
    - else
      %div{ class: "hidden their-line-#{@facade.index_for(line.character)}",
            data: { 'scene-target': 'line', 'line-id': line.id, 'line-char-id': line.character.id }}
        .card.mb-2
          .card-body
            %strong #{line.character.name}:
            - line.body.split("\n").each do |line_of_text|
              %div= line_of_text
