= link_to @scene.play.title, play_path(@scene.play)
%h1.text-2xl.mb-4= @scene.name
= render partial: 'characters/picker', locals: { scene: @scene, selected_char: @selected_char }

%div(data-controller="scene"
     data-scene-selected-char-id-value="#{@selected_char&.id}"
     data-scene-line-ids-value="#{@scene.lines.ids}")
  - @scene.lines.each do |line|
    - if line.character == @selected_char
      -# Write out full lines:
        %div{ class: "hidden my-line",
              data: { 'scene-target': 'line', 'line-id': line.id, 'line-char-id': line.character.id }}
          .card.bg-teal-100.mb-2{line_data_attrs(line, @selected_char)}
            .card-body.flex.flex-col
              .default-flex-row
                .font-bold #{line.character.name}:
                %button(data-action="line#showFullLine") Skip
                %button.sr-only(data-line-target="skipBtn" data-action="scene#revealUntilMyLine")
              %div(data-line-target="output")
              %input.border.rounded.w-full.mt-8(data-line-target="input" data-action="keyup->line#parseInput")
      %div{ class: "hidden my-line",
            data: { 'scene-target': 'line', 'line-id': line.id, 'line-char-id': line.character.id }}
        .card.bg-teal-100.mb-2{line_data_attrs(line, @selected_char)}
          .card-body.flex.flex-col
            .default-flex-row
              .font-bold #{line.character.name}:
              %button(data-action="line#jumpToNextLine") Skip
              %button.sr-only(data-line-target="skipBtn" data-action="scene#revealUntilMyLine")
            - line.segments.each do |segment|
              - chunk_1, chunk_2, chunk_3 = *random_chunks(segment)
              .pb-1(data-controller="hidden-words"
                    data-hidden-words-text-value="#{chunk_2}")
                .inline-block= chunk_1
                .inline-block(data-hidden-words-target="wrapper")
                  - if chunk_2.present?
                    %textarea.hidden-words.border.rounded.inline-block{
                      rows: 1,
                      cols: chunk_2.size,
                      autocomplete: 'false',
                      'data-action': "keyup->hidden-words#parseInput",
                      'data-hidden-words-target': "input" }
                    %span.hint-indicator(tabindex=0)
                      â“
                      %div.hint-text= chunk_2
                .inline-block= chunk_3
    - else
      %div{ class: "hidden their-line-#{@facade.index_for(line.character)}",
            data: { 'scene-target': 'line', 'line-id': line.id, 'line-char-id': line.character.id }}
        .card.mb-2
          .card-body
            %strong #{line.character.name}:
            - line.body.split("\n").each do |line_of_text|
              %div= line_of_text
